@tailwind base;
@tailwind components;
@tailwind utilities;

/* [x-cloak] {
    display: none;
} */
@layer base {
    body {
        @apply font-montserrat; /* Applies the default sans-serif font to the body */
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
@layer utilities {
    .active {
        @apply bg-gray-200 rounded-md text-rose-600;
    }
}
